body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  background-size: cover;
  background-position: center;
  color: white;
  overflow: auto;
}

body::-webkit-scrollbar {
  display: none;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

/* Header */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 5%;
}

.name {
  font-size: 40px;
  color: white;
}

.name::first-letter {
  color: red;
}

.nav_bar {
  list-style: none;
  display: flex;
  gap: 2px;
}

.items {
  padding: 10px 15px;
  transition: all 0.3s ease;
}

.items:hover {
  border: 1px solid red;
  border-radius: 40% 5%;
  background-color: green;
}

/* main  */

.container {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 40px;
  color: lightgreen;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}


.user_input {
  display: flex;
  flex-direction: column;
  padding: 80px;
  border: 1px solid red;
  box-shadow: 2px 5px 40px 15px;
  width: 40%;
  margin-top: 80px;
}

#first_name,
#last_name {
  height: 40px;
  border-radius: 20px;
}

label {
  font-size: 25px;
  color: orange;
}

input::placeholder {
  font-size: large;
  padding-left: 10px;
}

input {
  font-size: 20px;
  padding-left: 30px;
}

#user_gmail {
  margin-top: 90px;
}

#gmail {
  height: 40px;
  border-radius: 20px;
}

button {
  margin-top: 150px;
  height: 40px;
  font-size: 20px;
  border-radius: 20px;
}

button:hover {
  background-color: #00dfc4;
}

/* Footer section */

footer {
  background-color: #222;
  color: #f1f1f1;
  padding: 5px 20px;
  text-align: center;
  border: 2px solid;
  margin-top: 100px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

}

.footer_section h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #00dfc4;
}

.footer_section {
  max-width: 800px;
  margin: 0 0 0 1rem;
  padding: auto 10px;
  font-size: 1rem;
  align-items: center;
}

.details {
  display: flex;
  gap: 100px;

}

.icons {
  margin-top: 14px;
}

.icons a {
  padding: 0 12px;
  font-size: 2.5rem;
}

.icons a:hover {
  font-size: 3rem;
}

.contact_me {
  margin-top: 14px;
}

.contact_me h3 {
  color: lightgreen;
}

/* Responsive Design */

@media (max-width: 425px) {

  .nav_bar {
    flex-direction: column;
    margin-top: 25px;
    padding: 0;
  }

  .user_input {
    width: 60%;
  }

  button {
    margin-top: 100px;
  }

  .details {
    flex-direction: column;
    gap: 0;
  }
}

@media (max-width: 375px) {

  .nav_bar {
    padding: 0;
    margin-left: 90px;
  }

  .user_input {
    width: 55%;
    height: fit-content;
  }

  input {
    font-size: 20px;
    padding-left: 15px;
  }

  #first_name {
    width: 250px;
    margin-left: -25px;
  }

  #last_name {
    width: 250px;
    margin-left: -25px;
  }

  .gmail {
    width: 250px;
    margin-left: -25px;
  }

  button {
    margin-top: 100px;
  }
  .icons a {
    padding: 0 8px;
    font-size: 2.5rem;
    gap: 200px;
  }
}

@media (max-width: 320px) {

  .nav_bar {
    padding: 0;
    margin-left: 38px;
  }

  .title {
    font-size: 30px;
    margin-top: 100px;
    padding-bottom: 50px;
  }

  .user_input {
    width: 48%;
    height: 400px;
    margin: 0;
  }

  input {
    font-size: 20px;
    padding-left: 5px;
  }

  #first_name {
    width: 220px;
    margin-left: -30px;
  }

  #last_name {
    width: 220px;
    margin-left: -30px;
  }

  #user_gmail {
    margin-top: 50px;
  }

  .gmail {
    width: 220px;
    margin-left: -30px;
  }

  button {
    margin-top: 70px;
  }

  .icons a {
    padding: 7px;

  }
}